@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: 'Inter', sans-serif;
  background-color: aquamarine;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix{
	clear:both;
}

.banners{
  width:100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-top: 77px;
  max-width: 1280px;
  margin: 0 auto;
}
.banners h1{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 27%;
  font-size: 77px;
  font-weight: 700;
  text-shadow: -2px 1px 20px white;
}
.banners img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 300px;
}

.left-arrow {
  left: 1rem;
}
.right-arrow {
  right: 1rem;
}
.right-arrow, .left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 47px;
  height: 47px;
  z-index: 2;
  cursor: pointer;
  font-size: 23px;
  background-color: #ff5722;
  color: white;
  border: none;
}
pre{
  font-size: 20px;
  color: black;
}


@media(max-width:767px){
  .banners img {height: auto;}
  .banners h1 {top: 10%;font-size: 47px;max-width: 74%;margin: 0 auto;}
  .right-arrow, .left-arrow {top: 13%;}

}